In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_35968be5e61d41eaba2c6a1fc93a6cef = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='25pS0To_sSYm70FzYrHnUzOq_wfRgAeFBH6bZ0u0Ord5',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_35968be5e61d41eaba2c6a1fc93a6cef.get_object(Bucket='coronavirus-donotdelete-pr-phjsshhyess01l',Key='Train_dataset.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_excel(body)

# Imports

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#df=pd.read_excel('Train_dataset.xlsx')

In [4]:
df.describe()

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
count,10714.000000,10403.000000,10714.000000,10714.000000,10714.000000,10714.000000,9998.000000,9790.000000,10698.000000,9600.000000,9600.000000,10679.000000,10714.000000,10714.000000,9.624000e+03,1.071400e+04,9991.000000,10714.000000
mean,10084.893784,1.062770,3.285888,0.523241,42.083722,9.013067,278.806261,87.795812,116.170967,275.292292,74.847396,52.632737,20.028094,5.015027,2.644919e+06,1.304713e+06,1.004604,52.280680
std,7108.663645,0.818222,2.721274,0.854303,15.323397,3.714970,97.985526,41.851103,55.178811,43.669692,14.869104,10.434293,11.828445,1.399770,1.383346e+06,6.075947e+05,0.815257,10.674667
min,1.000000,0.000000,1.000000,0.000000,16.000000,3.000000,110.000000,15.000000,20.000000,200.000000,50.000000,35.000000,0.000000,3.000000,3.000000e+05,3.000000e+05,0.000000,29.289600
25%,2679.250000,0.000000,2.000000,0.000000,29.000000,6.000000,194.000000,52.000000,68.000000,237.000000,62.000000,44.000000,10.000000,4.000000,1.400000e+06,8.000000e+05,0.000000,47.277426
50%,10003.500000,1.000000,2.000000,0.000000,42.000000,9.000000,276.000000,88.000000,117.000000,276.000000,75.000000,53.000000,20.000000,5.000000,2.600000e+06,1.300000e+06,1.000000,49.008389
75%,15141.750000,2.000000,4.000000,1.000000,55.000000,12.000000,364.000000,124.000000,165.000000,313.000000,88.000000,62.000000,30.000000,6.000000,3.800000e+06,1.800000e+06,2.000000,52.762313
max,22695.000000,2.000000,8.000000,2.000000,68.000000,15.000000,450.000000,160.000000,210.000000,350.000000,100.000000,70.000000,40.000000,7.000000,5.000000e+06,2.300000e+06,2.000000,97.632000

In [5]:
df.head()

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
0,1,Bhubaneshwar,Female,Mrs,mansi,YES,1.0,Farmer,Public,2,...,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0,49.135010
1,2,Bhubaneshwar,Female,Mrs,riya masi,YES,2.0,Farmer,Walk,2,...,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0,51.147880
2,3,Bhubaneshwar,Female,Mrs,sunita,NO,1.0,Cleaner,Public,2,...,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0,73.224000
3,4,Bhubaneshwar,Female,Mrs,anjali @ babli,YES,1.0,Driver,Car,2,...,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0,48.779225
4,5,Bhubaneshwar,Female,Mrs,champa karketta,NO,2.0,Manufacturing,Car,2,...,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0,87.868800

In [6]:
X=df.drop(columns=['Infect_Prob'],axis=1)

In [7]:
X.head()

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
0,1,Bhubaneshwar,Female,Mrs,mansi,YES,1.0,Farmer,Public,2,...,154.0,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0
1,2,Bhubaneshwar,Female,Mrs,riya masi,YES,2.0,Farmer,Walk,2,...,121.0,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0
2,3,Bhubaneshwar,Female,Mrs,sunita,NO,1.0,Cleaner,Public,2,...,124.0,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0
3,4,Bhubaneshwar,Female,Mrs,anjali @ babli,YES,1.0,Driver,Car,2,...,98.0,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0
4,5,Bhubaneshwar,Female,Mrs,champa karketta,NO,2.0,Manufacturing,Car,2,...,21.0,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0

In [8]:
y=df['Infect_Prob']

# preprocessing

In [9]:
X.head()

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
0,1,Bhubaneshwar,Female,Mrs,mansi,YES,1.0,Farmer,Public,2,...,154.0,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0
1,2,Bhubaneshwar,Female,Mrs,riya masi,YES,2.0,Farmer,Walk,2,...,121.0,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0
2,3,Bhubaneshwar,Female,Mrs,sunita,NO,1.0,Cleaner,Public,2,...,124.0,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0
3,4,Bhubaneshwar,Female,Mrs,anjali @ babli,YES,1.0,Driver,Car,2,...,98.0,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0
4,5,Bhubaneshwar,Female,Mrs,champa karketta,NO,2.0,Manufacturing,Car,2,...,21.0,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0

In [10]:
X.drop(['Designation','Name'],axis=1,inplace=True)

In [11]:
X['Gender']=pd.get_dummies(X['Gender'],drop_first=True)
X['Married']=pd.get_dummies(X['Married'],drop_first=True)

In [12]:
Region=pd.get_dummies(df['Region'])
X=pd.concat([X,Region],axis=1)

In [13]:
X.isnull().sum()

people_ID                    0
Region                       0
Gender                       0
Married                      0
Children                   311
Occupation                 747
Mode_transport               3
cases/1M                     0
Deaths/1M                    0
comorbidity                226
Age                          0
Coma score                   0
Pulmonary score              0
cardiological pressure      97
Diuresis                   716
Platelets                  924
HBB                         16
d-dimer                   1114
Heart rate                1114
HDL cholesterol             35
Charlson Index               0
Blood Glucose                0
Insurance                 1090
salary                       0
FT/month                   723
Bengaluru                    0
Bhubaneshwar                 0
Chandigarh                   0
Chennai                      0
Delhi                        0
dtype: int64

In [14]:
Occupation=pd.get_dummies(df['Occupation'])
X=pd.concat([X,Occupation],axis=1)

In [15]:
Mode_transport=pd.get_dummies(df['Mode_transport'])
X=pd.concat([X,Mode_transport],axis=1)

In [16]:
comorbidity=pd.get_dummies(df['comorbidity'])
X=pd.concat([X,comorbidity],axis=1)

In [17]:
cardiological_pressure=pd.get_dummies(df['cardiological pressure'])
X=pd.concat([X,cardiological_pressure],axis=1)

In [18]:
X.columns

Index(['people_ID', 'Region', 'Gender', 'Married', 'Children', 'Occupation',
       'Mode_transport', 'cases/1M', 'Deaths/1M', 'comorbidity', 'Age',
       'Coma score', 'Pulmonary score', 'cardiological pressure', 'Diuresis',
       'Platelets', 'HBB', 'd-dimer', 'Heart rate', 'HDL cholesterol',
       'Charlson Index', 'Blood Glucose', 'Insurance', 'salary', 'FT/month',
       'Bengaluru', 'Bhubaneshwar', 'Chandigarh', 'Chennai', 'Delhi',
       'Business', 'Cleaner', 'Clerk', 'Driver', 'Farmer', 'Legal',
       'Manufacturing', 'Researcher', 'Sales', 'Car', 'Public', 'Walk',
       'Coronary Heart Disease', 'Diabetes', 'Hypertension', 'None',
       'Elevated', 'Normal', 'Stage-01', 'Stage-02'],
      dtype='object')

In [19]:
X.drop(['Region','Occupation','Mode_transport','comorbidity','cardiological pressure','None'],axis=1,inplace=True)

In [20]:
X.columns

Index(['people_ID', 'Gender', 'Married', 'Children', 'cases/1M', 'Deaths/1M',
       'Age', 'Coma score', 'Pulmonary score', 'Diuresis', 'Platelets', 'HBB',
       'd-dimer', 'Heart rate', 'HDL cholesterol', 'Charlson Index',
       'Blood Glucose', 'Insurance', 'salary', 'FT/month', 'Bengaluru',
       'Bhubaneshwar', 'Chandigarh', 'Chennai', 'Delhi', 'Business', 'Cleaner',
       'Clerk', 'Driver', 'Farmer', 'Legal', 'Manufacturing', 'Researcher',
       'Sales', 'Car', 'Public', 'Walk', 'Coronary Heart Disease', 'Diabetes',
       'Hypertension', 'Elevated', 'Normal', 'Stage-01', 'Stage-02'],
      dtype='object')

In [21]:
X['Pulmonary score']=X['Pulmonary score'].apply(lambda x : int(x.split('<')[1]) )

In [22]:
X.head()

,people_ID,Gender,Married,Children,cases/1M,Deaths/1M,Age,Coma score,Pulmonary score,Diuresis,...,Car,Public,Walk,Coronary Heart Disease,Diabetes,Hypertension,Elevated,Normal,Stage-01,Stage-02
0,1,0,1,1.0,2,0,68,8,400,441.0,...,0,1,0,0,0,1,0,1,0,0
1,2,0,1,2.0,2,0,64,15,100,NaN,...,0,0,1,0,1,0,0,0,0,1
2,3,0,0,1.0,2,0,19,13,300,416.0,...,0,1,0,0,0,0,1,0,0,0
3,4,0,1,1.0,2,0,33,9,200,410.0,...,1,0,0,1,0,0,0,0,1,0
4,5,0,0,2.0,2,0,23,7,400,390.0,...,1,0,0,0,1,0,0,1,0,0

In [23]:
#Checking null values
X['Insurance']=X['Insurance'].fillna(0)

In [24]:
#confirming number of null values
X.isnull().sum()

people_ID                    0
Gender                       0
Married                      0
Children                   311
cases/1M                     0
Deaths/1M                    0
Age                          0
Coma score                   0
Pulmonary score              0
Diuresis                   716
Platelets                  924
HBB                         16
d-dimer                   1114
Heart rate                1114
HDL cholesterol             35
Charlson Index               0
Blood Glucose                0
Insurance                    0
salary                       0
FT/month                   723
Bengaluru                    0
Bhubaneshwar                 0
Chandigarh                   0
Chennai                      0
Delhi                        0
Business                     0
Cleaner                      0
Clerk                        0
Driver                       0
Farmer                       0
Legal                        0
Manufacturing                0
Researcher                   0
Sales                        0
Car                          0
Public                       0
Walk                         0
Coronary Heart Disease       0
Diabetes                     0
Hypertension                 0
Elevated                     0
Normal                       0
Stage-01                     0
Stage-02                     0
dtype: int64

In [33]:
#mean of every row
X.mean()

people_ID                 1.008489e+04
Gender                    4.938398e-01
Married                   7.915811e-01
Children                  1.062770e+00
cases/1M                  3.285888e+00
Deaths/1M                 5.232406e-01
Age                       4.208372e+01
Coma score                9.013067e+00
Pulmonary score           2.505040e+02
Diuresis                  2.787524e+02
Platelets                 8.772718e+01
HBB                       1.162379e+02
d-dimer                   2.752619e+02
Heart rate                7.475929e+01
HDL cholesterol           5.263067e+01
Charlson Index            2.002809e+01
Blood Glucose             5.015027e+00
Insurance                 2.375835e+06
salary                    1.304713e+06
FT/month                  9.368116e-01
Bengaluru                 2.401531e-01
Bhubaneshwar              2.367930e-01
Chandigarh                2.392197e-01
Chennai                   2.408998e-01
Delhi                     4.293448e-02
Business                  9.828262e-02
Cleaner                   1.036961e-01
Clerk                     1.006160e-01
Driver                    1.000560e-01
Farmer                    1.038828e-01
Legal                     1.095763e-01
Manufacturing             1.045361e-01
Researcher                1.040694e-01
Sales                     1.055628e-01
Car                       3.318088e-01
Public                    3.348889e-01
Walk                      3.330222e-01
Coronary Heart Disease    2.422065e-01
Diabetes                  2.439798e-01
Hypertension              2.465932e-01
Elevated                  2.464999e-01
Normal                    2.502333e-01
Stage-01                  2.479933e-01
Stage-02                  2.462199e-01
dtype: float64

In [34]:
X['Diuresis']=X['Diuresis'].fillna(278)

In [35]:
X['Platelets']=X['Platelets'].fillna(87)

In [36]:
X['HBB']=X['HBB'].fillna(161)

In [37]:
X['d-dimer']=X['d-dimer'].fillna(275)

In [38]:
X['Heart rate']=X['Heart rate'].fillna(74)

In [39]:
X['HDL cholesterol']=X['HDL cholesterol'].fillna(52)

In [40]:
X['FT/month']=X['FT/month'].fillna(0)

In [41]:
X['Children']=X['Children'].fillna(0)

In [42]:
#confirming no null values
X.isnull().sum()

people_ID                 0
Gender                    0
Married                   0
Children                  0
cases/1M                  0
Deaths/1M                 0
Age                       0
Coma score                0
Pulmonary score           0
Diuresis                  0
Platelets                 0
HBB                       0
d-dimer                   0
Heart rate                0
HDL cholesterol           0
Charlson Index            0
Blood Glucose             0
Insurance                 0
salary                    0
FT/month                  0
Bengaluru                 0
Bhubaneshwar              0
Chandigarh                0
Chennai                   0
Delhi                     0
Business                  0
Cleaner                   0
Clerk                     0
Driver                    0
Farmer                    0
Legal                     0
Manufacturing             0
Researcher                0
Sales                     0
Car                       0
Public                    0
Walk                      0
Coronary Heart Disease    0
Diabetes                  0
Hypertension              0
Elevated                  0
Normal                    0
Stage-01                  0
Stage-02                  0
dtype: int64

In [43]:
X.head()

,people_ID,Gender,Married,Children,cases/1M,Deaths/1M,Age,Coma score,Pulmonary score,Diuresis,...,Car,Public,Walk,Coronary Heart Disease,Diabetes,Hypertension,Elevated,Normal,Stage-01,Stage-02
0,1,0,1,1.0,2,0,68,8,400,441.0,...,0,1,0,0,0,1,0,1,0,0
1,2,0,1,2.0,2,0,64,15,100,278.0,...,0,0,1,0,1,0,0,0,0,1
2,3,0,0,1.0,2,0,19,13,300,416.0,...,0,1,0,0,0,0,1,0,0,0
3,4,0,1,1.0,2,0,33,9,200,410.0,...,1,0,0,1,0,0,0,0,1,0
4,5,0,0,2.0,2,0,23,7,400,390.0,...,1,0,0,0,1,0,0,1,0,0

In [44]:
#X 
#y
#to be used for model training
from sklearn import preprocessing

# Training models

### Linear Regression

In [45]:
X_model1 = X.drop(['Normal','Diabetes','Stage-01','Charlson Index','Heart rate','Pulmonary score','Blood Glucose','Car','Walk','Public'    ,'Gender','Stage-02','Elevated','Coronary Heart Disease','people_ID','Hypertension','Insurance','FT/month','Age','Diuresis'],axis=1)
y_model1 = y

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_model1, y_model1, test_size=0.8, random_state=42)
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
lm.fit(X_train,y_train)
pred=lm.predict(X_test)

In [47]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [48]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [49]:
from numpy import sqrt
sqrt(mean_squared_error(y_test,pred))

9.057235780504655

In [50]:
lm.score(X_train,y_train)

0.29290727699123154

In [51]:
predictions = lm.predict(X_test)
errors = abs(predictions - y_test)
mape = np.mean(100 * (errors / y_test))
accuracy = 100 - mape
print('AcAcuracy:', round(accuracy, 2), '%.')

AcAcuracy: 90.97 %.

In [52]:
import statsmodels.api as sm

In [53]:
X2=sm.add_constant(X_model1)
est=sm.OLS(y,X2)
est2=est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Infect_Prob   R-squared:                       0.284
Model:                            OLS   Adj. R-squared:                  0.283
Method:                 Least Squares   F-statistic:                     202.4
Date:                Thu, 28 May 2020   Prob (F-statistic):               0.00
Time:                        14:22:05   Log-Likelihood:                -38779.
No. Observations:               10714   AIC:                         7.760e+04
Df Residuals:                   10692   BIC:                         7.776e+04
Df Model:                          21
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              31.5040      0.528     59.631      0.000      30.468      32.540
Married           -11.8781      0.239    -49.649      0.000     -12.347     -11.409
Children            2.2800      0.116     19.599      0.000       2.052       2.508
cases/1M            7.3650      0.113     65.168      0.000       7.144       7.587
Deaths/1M         -11.1192      0.196    -56.686      0.000     -11.504     -10.735
Coma score          0.1105      0.024      4.690      0.000       0.064       0.157
Platelets           0.0165      0.002      7.507      0.000       0.012       0.021
HBB                 0.0043      0.002      2.703      0.007       0.001       0.007
d-dimer             0.0042      0.002      1.982      0.048    4.53e-05       0.008
HDL cholesterol     0.0175      0.008      2.076      0.038       0.001       0.034
salary          -3.666e-07   1.44e-07     -2.549      0.011   -6.49e-07   -8.46e-08
Bengaluru          -8.6122      0.215    -40.114      0.000      -9.033      -8.191
Bhubaneshwar        8.7495      0.212     41.366      0.000       8.335       9.164
Chandigarh          9.0814      0.212     42.778      0.000       8.665       9.498
Chennai            16.1801      0.294     55.009      0.000      15.604      16.757
Delhi               6.1052      0.369     16.533      0.000       5.381       6.829
Business           -1.4394      0.485     -2.968      0.003      -2.390      -0.489
Cleaner            -1.6750      0.481     -3.482      0.001      -2.618      -0.732
Clerk              -1.3305      0.484     -2.748      0.006      -2.280      -0.381
Driver             -1.3617      0.483     -2.821      0.005      -2.308      -0.415
Farmer             -2.4733      0.478     -5.178      0.000      -3.410      -1.537
Legal              -1.8289      0.475     -3.851      0.000      -2.760      -0.898
Manufacturing      -1.4828      0.478     -3.099      0.002      -2.421      -0.545
Researcher         -1.1435      0.480     -2.383      0.017      -2.084      -0.203
Sales              -1.0168      0.480     -2.120      0.034      -1.957      -0.077
==============================================================================
Omnibus:                     1456.306   Durbin-Watson:                   1.985
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            13453.076
Skew:                           0.341   Prob(JB):                         0.00
Kurtosis:                       8.447   Cond. No.                     1.15e+22
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.67e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/opt/conda/envs/Python36/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2223: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

### Decision tree

In [54]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [55]:
dtree=DecisionTreeRegressor()

In [56]:
dtree.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [57]:
pred=dtree.predict(X_test)

In [58]:
sqrt(mean_squared_error(y_test,pred))

12.837009591539436

In [59]:
dtree.score(X_train,y_train)

0.9999999999995309

In [60]:
predictions = dtree.predict(X_test)
errors = abs(predictions - y_test)
mape = np.mean(100 * (errors / y_test))
accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 90.7 %.

###  random forest

In [61]:
rfc=RandomForestRegressor(n_estimators=100)

In [62]:
rfc.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [63]:
pred=rfc.predict(X_test)

In [64]:
rfc.score(X_train,y_train)

0.8952341102690716

In [65]:
sqrt(mean_squared_error(y_test,pred))

9.207801908039544

In [66]:
predictions = rfc.predict(X_test)
errors = abs(predictions - y_test)
mape = np.mean(100 * (errors / y_test))
accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 92.84 %.

### ADABOOST

In [67]:
from sklearn.ensemble import AdaBoostRegressor

In [68]:
ada=AdaBoostRegressor(n_estimators=100)

In [69]:
ada.fit(X_train,y_train)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
         n_estimators=100, random_state=None)

In [70]:
sqrt(mean_squared_error(y_test,ada.predict(X_test)))

9.005862441651454

In [71]:
predictions = ada.predict(X_test)
errors = abs(predictions - y_test)
mape = np.mean(100 * (errors / y_test))
accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 91.39 %.

In [72]:
ada.score(X_train,y_train)

0.3098136738600933

### GradientBoostingRegressor

In [73]:
from sklearn.ensemble import GradientBoostingRegressor

In [74]:
gbr=GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=1, random_state=0, loss='ls')

In [75]:
gbr.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=1, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, n_iter_no_change=None, presort='auto',
             random_state=0, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [76]:
sqrt(mean_squared_error(y_test,gbr.predict(X_test)))

9.03430853723898

In [77]:
predictions = gbr.predict(X_test)
errors = abs(predictions - y_test)
mape = np.mean(100 * (errors / y_test))
accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 91.37 %.

In [78]:
gbr.score(X_train,y_train)

0.2872962486180076

### Bagging Regressor

In [100]:
from sklearn.ensemble import BaggingRegressor

In [101]:
bag=BaggingRegressor(n_estimators=100)

In [102]:
bag.fit(X_train,y_train)

BaggingRegressor(base_estimator=None, bootstrap=True,
         bootstrap_features=False, max_features=1.0, max_samples=1.0,
         n_estimators=100, n_jobs=None, oob_score=False, random_state=None,
         verbose=0, warm_start=False)

In [103]:
sqrt(mean_squared_error(y_test,bag.predict(X_test)))

9.175956317445246

In [104]:
predictions = bag.predict(X_test)
errors = abs(predictions - y_test)
mape = np.mean(100 * (errors / y_test))
accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 92.87 %.

In [105]:
bag.score(X_train,y_train)

0.8962318216565031

In [110]:
X_train.columns

Index(['Married', 'Children', 'cases/1M', 'Deaths/1M', 'Coma score',
       'Platelets', 'HBB', 'd-dimer', 'HDL cholesterol', 'salary', 'Bengaluru',
       'Bhubaneshwar', 'Chandigarh', 'Chennai', 'Delhi', 'Business', 'Cleaner',
       'Clerk', 'Driver', 'Farmer', 'Legal', 'Manufacturing', 'Researcher',
       'Sales'],
      dtype='object')

### Creating Scoring Endpoint for Node-RED Integration

In [88]:
!pip install watson-machine-learning-client

Requirement already satisfied: watson-machine-learning-client in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.0.376)
Requirement already satisfied: pandas in /opt/conda/envs/Python36/lib/python3.6/site-packages (from watson-machine-learning-client) (0.24.1)
Requirement already satisfied: lomond in /opt/conda/envs/Python36/lib/python3.6/site-packages (from watson-machine-learning-client) (0.3.3)
Requirement already satisfied: urllib3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from watson-machine-learning-client) (1.24.1)
Requirement already satisfied: certifi in /opt/conda/envs/Python36/lib/python3.6/site-packages (from watson-machine-learning-client) (2020.4.5.1)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from watson-machine-learning-client) (2.21.0)
Requirement already satisfied: tqdm in /opt/conda/envs/Python36/lib/python3.6/site-packages (from watson-machine-learning-client) (4.31.1)
Requirement already satisfied: tabulate in /opt/conda/envs/Python36/lib/python3.6/site-packages (from watson-machine-learning-client) (0.8.2)
Requirement already satisfied: ibm-cos-sdk in /opt/conda/envs/Python36/lib/python3.6/site-packages (from watson-machine-learning-client) (2.4.3)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas->watson-machine-learning-client) (2.7.5)
Requirement already satisfied: pytz>=2011k in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas->watson-machine-learning-client) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas->watson-machine-learning-client) (1.15.4)
Requirement already satisfied: six>=1.10.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from lomond->watson-machine-learning-client) (1.12.0)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->watson-machine-learning-client) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->watson-machine-learning-client) (3.0.4)
Requirement already satisfied: ibm-cos-sdk-s3transfer==2.*,>=2.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibm-cos-sdk->watson-machine-learning-client) (2.4.3)
Requirement already satisfied: ibm-cos-sdk-core==2.*,>=2.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibm-cos-sdk->watson-machine-learning-client) (2.4.3)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibm-cos-sdk-core==2.*,>=2.0.0->ibm-cos-sdk->watson-machine-learning-client) (0.9.3)
Requirement already satisfied: docutils>=0.10 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibm-cos-sdk-core==2.*,>=2.0.0->ibm-cos-sdk->watson-machine-learning-client) (0.14)

In [89]:
from watson_machine_learning_client import WatsonMachineLearningAPIClient

In [90]:
wml_credentials={
  "apikey": "tEyrkRnZ3Mwi9vYBYoCvN9lELLsNeOP91q4TnUnyUMWa",
  
  
  
  
  "instance_id": "26802ff6-5a26-4c5d-960f-e9e83b9896cb",
  "url": "https://eu-gb.ml.cloud.ibm.com"
}

In [91]:
client = WatsonMachineLearningAPIClient( wml_credentials )

In [92]:
model_props = {client.repository.ModelMetaNames.AUTHOR_NAME: "Sumit", 
               client.repository.ModelMetaNames.AUTHOR_EMAIL: "twd007007@gmail.com", 
               client.repository.ModelMetaNames.NAME: "Predicting the probablity of person getting infected with covid-19 on 20th march 2020"}

In [93]:
model_artifact =client.repository.store_model(bag, meta_props=model_props)

In [94]:
published_model_uid = client.repository.get_model_uid(model_artifact)

In [95]:
published_model_uid

'210eacc0-eae2-4415-b95b-8c9497014299'

In [96]:
deployment = client.deployments.create(published_model_uid, name="Predicting the probablity of person getting infected with covid-19 on 20th march 2020")

#######################################################################################

Synchronous deployment creation for uid: '210eacc0-eae2-4415-b95b-8c9497014299' started

#######################################################################################


INITIALIZING
DEPLOY_SUCCESS


------------------------------------------------------------------------------------------------
Successfully finished deployment creation, deployment_uid='4dbd3933-f1a3-442d-bcbc-5a4d2911ef75'
------------------------------------------------------------------------------------------------

In [97]:
scoring_endpoint = client.deployments.get_scoring_url(deployment)

In [98]:
scoring_endpoint

'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/26802ff6-5a26-4c5d-960f-e9e83b9896cb/deployments/4dbd3933-f1a3-442d-bcbc-5a4d2911ef75/online'

In [99]:
X_train.columns

Index(['Married', 'Children', 'cases/1M', 'Deaths/1M', 'Coma score',
       'Platelets', 'HBB', 'd-dimer', 'HDL cholesterol', 'salary', 'Bengaluru',
       'Bhubaneshwar', 'Chandigarh', 'Chennai', 'Delhi', 'Business', 'Cleaner',
       'Clerk', 'Driver', 'Farmer', 'Legal', 'Manufacturing', 'Researcher',
       'Sales'],
      dtype='object')

In [ ]:
["Married", "Children", "cases/1M", "Deaths/1M", "Coma score",
       "Platelets", "HBB", "d-dimer", "HDL cholesterol", "salary", "Bengaluru",
       "Bhubaneshwar", "Chandigarh", "Chennai", "Delhi", "Business", "Cleaner",
       "Clerk", "Driver", "Farmer", "Legal", "Manufacturing", "Researcher",
       "Sales"]